Repository travel-guide-tw/travel-guide-tw.github.io, pull requests merged in 2023-07, with the labels that each got.

#121 fix(vitepress): github edit link
  .vitepress/config.ts
  package-lock.json
  package.json
Labels: repo

#123 Feat/japan yamagata
  docs/日本/山形/景點/立石寺.md
  docs/日本/山形/景點/銀山溫泉.md
  docs/日本/山形/景點/霞城公園.md
  docs/日本/山形/景點/鳥海山.md
Labels: 日本

#124 Feat/japan hokkaido
  docs/日本/北海道/交通/JR北海道鐵路周遊券.md
  docs/日本/北海道/景點/函館山.md
  docs/日本/北海道/景點/函館朝市.md
  docs/日本/北海道/景點/北海道大學.md
  docs/日本/北海道/景點/北海道神宮.md
  docs/日本/北海道/景點/大沼國定公園.md
  docs/日本/北海道/景點/旭山動物園.md
  docs/日本/北海道/活動/滑雪.md
Labels: 日本

#125 fix(github-action): prevent running creyD/prettier_action@v4.3 on PR
  .github/workflows/prettier.yml
Labels: GitHub

#126 Feat/japan toyama
  docs/日本/富山/景點/室堂.md
  docs/日本/富山/景點/富岩運河環水公園.md
  docs/日本/富山/景點/雨晴海岸.md
  docs/日本/富山/景點/雪之大谷.md
  docs/日本/富山/活動/黑部立山路線.md
Labels: 日本

#127 feat(keelung): add tourist attractions in keelung
  docs/台灣/基隆/景點/和平島公園.md
  docs/台灣/基隆/景點/國立海洋科學博物館.md
  docs/台灣/基隆/景點/潮境公園.md
  docs/台灣/基隆/景點/潮境智能海洋館.md
Labels: 台灣

#129 feat(markdown): support checkboxes
  .vitepress/config.ts
  package-lock.json
  package.json
Labels: repo

#130 Feat/japan yamanashi
  docs/日本/山梨/交通/河口湖周遊巴士.md
  docs/日本/山梨/交通/西湖周遊巴士.md
  docs/日本/山梨/景點/大石公園.md
  docs/日本/山梨/景點/天上山公園.md
  docs/日本/山梨/景點/富士山五合目.md
  docs/日本/山梨/景點/富士急樂園.md
  docs/日本/山梨/景點/新倉富士淺間神社.md
  docs/日本/山梨/景點/本町商店街.md
  docs/日本/山梨/景點/河口湖紅葉迴廊.md
  docs/日本/山梨/活動/攀登富士山.md
Labels: 日本

#132 feat: fetch the TW open source data and render the page
  .github/workflows/docs.yml
  .gitignore
  docs/台灣/_開源資料/index.md
  package-lock.json
  package.json
  services/loadTaiwanOpenSource/index.ts
Labels: repo, GitHub, 台灣

#133 Revert "feat: fetch the TW open source data and render the page"
  .github/workflows/docs.yml
  .gitignore
  docs/台灣/_開源資料/index.md
  package-lock.json
  package.json
  services/loadTaiwanOpenSource/index.ts
Labels: repo, GitHub, 台灣
